.titleWrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.SelectChapterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.SelectChapterWrapper p {
    color: #fff;
    padding: 10px;
    border: solid #fff 1px;
    cursor: pointer;
    transition-duration:  .3s;
}

.SelectChapterWrapper p:hover {
    background-color: #fff;
    color: #000;
}