.SearchWrapper {
    display: flex;
    justify-content: center;
}

.searchBlock {
    position: relative;
    margin-top: 40px;
}

.searchIcon {
    position: absolute;
    left: 15px;
    top: 17px;
}

.searchInput {
    width: 500px;
    height: 60px;
    background: transparent;
    color: #fff;
    border: solid #fff 3px;
    border-radius: 15px;
    padding: 15px 0px 15px 45px;
    outline: none;
    margin-bottom: 50px;
}